/* Background image section */
.carousel-section {
  background-image: url("/TrainingSteps-bg.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Optional dark overlay for better readability */
.carousel-section .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.carousel-arrow {
  font-size: 1.5rem; /* desktop/tablet size */
  padding: 0.5rem 0.8rem;
  border-width: 3px !important;
}

/* Mobile view */
@media (max-width: 425px) {
  .carousel-arrow {
    font-size: 0.8rem; /* smaller arrow */
    padding: 0.15rem 0.3rem !important;
    line-height: 1;
  }
}
.link-caro {
  text-decoration: none;
  color: inherit;
  display: block;
}

.link-caro:hover {
  text-decoration: none;
}