.contact-container {
  padding:1rem;   
  
}
body{
  background-color: #e9f3f9;
}


.main-heading {
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem); /* scales with screen */
  margin: 0 auto 2rem auto;
  text-align: center;
  width: fit-content;         /* shrink to fit content */
  max-width: 90%;             /* prevent overflow on small screens */
  padding: 0.75rem;    /* spacing that adapts nicely */
  box-sizing: border-box;
}




.content-section {
  max-width: 100%;    
  line-height: 1.7;
}

.content-section h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.content-section p {
  font-size: 1.3rem;
  color: #34495e;
  margin-bottom: 1rem;
}

.connect-btn {
  display: block;         
  margin: 2rem auto 0;
  margin-top: 1.5rem;
  background-color: #2980b9;
  color: white;
  padding: 0.9rem 2.2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  /* cursor: pointer; */
  transition: background-color 0.3s ease;
  text-decoration: none !important;

}
.link-getin {
  text-decoration: none;
  color: inherit;
  display: block;
}

.link-getin:hover {
  text-decoration: none;
}

.connect-btn:hover {
  background-color: #1f618d;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    padding: 1.5rem;
  }

  .content-section {
    width: 100%;
  }
}